<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Permission for R/W storage access -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ticket"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ticket_48px"
        android:supportsRtl="true"
        android:theme="@style/Theme.SupportTicketApp">
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".NewTicketActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ViewTicketsActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"/>
    </application>

</manifest>